body {
    background: #222;
    font-family: Arial, sans-serif;
}

#container {
    max-width: 450px;
    margin: 72px auto 0;
}

h1 {
    color: #f2f2f2;
}

.box {
    padding: 5px 20px 10px;
    background: #40464b;
    border-radius: 3px;
    color: #f2f2f2;
    font-size: 14px;
}
    .box .group{
        margin: 4px 0 8px;
    }

    .box .section {
        margin: 10px 0 0;
    }

.sub-group {
    margin-left: 23px;
}

.section h1 {
    margin: 0 0 20px;
    font-family: Arial;
    font-size: 18px;
    padding: 0 0 3px;
    border-bottom: 1px solid #bebebe;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    font-size: 14px;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(/images/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
    -webkit-user-select: none;
}

input[type="checkbox"]:checked + label span {
    background: url(/images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: #f2f2f2;
    font-size: 14px;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 -1px;
    vertical-align: middle;
    background: url(/images/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
    -webkit-user-select: none;
}

input[type="radio"]:checked + label span {
    background: url(/images/check_radio_sheet.png) -57px top no-repeat;
}

a{
    color: #45CAE7;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

.alert{
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;

    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.9); }
    100% { -webkit-transform: scale(1); }
}

.tab-links{
    margin: 0;
    padding: 0;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 5px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 10px 15px;
    display: inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #323232;
    font-size: 16px;
    font-weight: 600;
    color: #F2F2F2;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: #373737;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #40464B;
}

.tab {
    display: none;
    padding-top: 14px;
    padding-bottom: 8px;
    overflow: auto;
}

.tab.active {
    display: block;
}

.qr{
    float: left;
    margin-right: 15px;
}

.qr img{
    border-radius: 3px;
}

.donate-wallet{
    background: #F2F2F2;
    color: #222222;
    border-radius: 3px;
    padding: 0.6em 0.6em;
    font-size: 12px;
}
